#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.wrapper {
  height: fit-content;
  width: fit-content;
  color: gainsboro;
  border: solid thin;
  padding: 0.5rem 2em;
  border-radius: 1rem;
}

ul, li {
padding: 0;
}

.ex6 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.read-the-docs {
  color: #888;
}
